<div ng-controller="EditZadatakCtrl">
	<form>
		<div class="form-group">
			<label for="i">Ime</label>
			<input id="i" class="form-control" ng-model="zadatak.ime" />
		</div>
		
		<div class="form-group">
			<label for="z">Zaduzeni</label>
			<input id="z" class="form-control" ng-model="zadatak.zaduzeni"/>
		</div>
		
		<div class="form-group">
			<label for="b">Bodovi</label>
			<input id="b" class="form-control" ng-model="zadatak.bodovi"/>
		</div>
		
		<div>
			<label for="s">Stanje</label>
			<select id="s" ng-model="zadatak.stanjeId">
				<option ng-repeat="st in stanja" value="{{st.id}}" ng-selected="st.id == zadatak.stanjeId">{{st.ime}}</option>
			</select>
		</div>
		
		<div>
			<label for="sp">Sprint</label>
			<select id="sp" ng-model="zadatak.sprintId">
				<option ng-repeat="sprint in sprintovi" value="{{sprint.id}}" ng-selected="sprint.id == zadatak.sprintId">{{sprint.ime}}</option>
			</select>
		</div>
		
		
		<button class="btn btn-primary" ng-click="doEdit()">Edit</button>
	</form>

</div>